In [1]:
import selenium
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
from selenium import webdriver 
import time

In [3]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [4]:
time.sleep(2)

In [5]:
# Ans 1). To scrape data for “Data Analyst” Job position in “Bangalore” location.

In [6]:
driver.get("https://www.naukri.com/")

In [7]:
search_desig = driver.find_element_by_class_name('suggestor-input')

In [8]:
search_desig.send_keys('Data Analyst')

In [9]:
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")

In [10]:
search_loc.send_keys("Bangalore")

In [11]:
search_button=driver.find_element_by_class_name("qsbSubmit")

In [12]:
search_button.click()

In [13]:
job_title=[]
job_loc=[]
comp_name=[]
exp=[]
title = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
title=title[0:10]

In [14]:
job_title=[]
for i in title:
    job_title.append(i.text)
job_title

['Business Analyst/Data analyst - Payments Domain',
 'Senior Data Analyst - KPO',
 'Data Engineering Analyst',
 'Data Analyst',
 'Market Data Analyst',
 'Business Analyst/ Data Analyst',
 'Business Data Analyst',
 'Data Analyst - Business & Digital',
 'Senior Data Analyst',
 'EY GDS Data Analyst-Finland based project']

In [15]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc=loc[0:10]
loc

[<selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="5655bd2c-bb0d-4ac9-9ce5-9a8529e1e517")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="a6022c90-d57e-42e4-b472-eaeeabc8df72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="f4ee7f5a-c20c-45ed-9f70-3a705e7fc5d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="8f5167c2-dfd1-4bf8-985f-4f6638e452e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="1b4a07f8-e3cb-4ffb-8b4a-b53e4531e461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="0e93c7a6-3756-42a3-a926-4133cc920ce8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="75631675-2c2c-4f38-80af-ce0ccb615ad2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="dfd45cdd-ec72-4f56-8042-21e647e38e94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="c3cfe38f-67f4-4321-ad81-22ded38ff8e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="677ab994-e110-4a16-aae8-f5f254d9aa21")>]

In [16]:
job_loc=[]
for i in loc:
    job_loc.append(i.text)
job_loc

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Gurgaon/Gurugram/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Kundalahalli +2)',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [17]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags=exp_tags[0:10]
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="3dc413db-3954-4d82-858c-4a461594be10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="dac28b2f-d2f0-4fb9-844e-c47c11503276")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="40492230-5339-499d-93e5-216d55c1bace")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="dd3920ce-3324-464c-b8d8-8a09ba57e286")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="36651afc-edd0-4855-8a44-8afb4bcb6dac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="afd227b9-f48a-470f-8e94-3da5f8196ecd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="84191088-b3ad-42bd-9048-3072f8c99b25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="2455a37a-38ee-4533-b9d4-d898dff3c637")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="8c27b41a-9740-4aa4-875b-c3675e0534b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="dc611207-c34c-4e1f-95e8-61b3bb8c1f3e")>]

In [18]:
for i in exp_tags:
    exp.append(i.text)
exp

['4-8 Yrs',
 '7-12 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '1-2 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '0-1 Yrs']

In [19]:
name=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
name = name[0:10]
name

[<selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="a2c157f6-d352-4b7c-a366-4cca06f520bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="a5e000f4-225f-48f3-aa82-743b92f135ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="7ffbfcda-e9e2-42e9-a989-d17d6ba760ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="f6612629-7f2e-4684-b7e6-670c3a432d66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="b701b125-9c6a-4688-9fa7-80da45b92f26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="c0220db1-fdca-43ec-b8a6-1f9e6241094e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="f9e556ab-0f26-4fb6-93ec-9cf390688785")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="400e4d0b-aa5b-47f4-8b7f-2ae2fe8b0f17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="5794ad2c-5fe1-4639-8759-b429c31c4175")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3eadba6ed915f76ec11b9367d7d406b", element="c49e03cd-f792-4e00-af9b-aa7c55c5380e")>]

In [20]:
comp_name=[]
for i in name:
    comp_name.append(i.text)
comp_name

['CGI',
 'Huquo Consulting Pvt. Ltd',
 'Dell Technologies',
 'Traverze Consultancy Solutions Pvt, Ltd.',
 'ICF',
 'cliqhr.com',
 'NXP Semiconductors',
 'MilliporeSigma',
 'Encora',
 'EY']

In [21]:
df1= pd.DataFrame({'Job-Title':job_title,'Job-Location':job_loc,'Company_Name':comp_name,'Experience_reqd':exp})
df1

,Job-Title,Job-Location,Company_Name,Experience_reqd
0,Business Analyst/Data analyst - Payments Domain,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",CGI,4-8 Yrs
1,Senior Data Analyst - KPO,"Gurgaon/Gurugram, Bangalore/Bengaluru, Gurgaon...",Huquo Consulting Pvt. Ltd,7-12 Yrs
2,Data Engineering Analyst,Bangalore/Bengaluru,Dell Technologies,0-3 Yrs
3,Data Analyst,Bangalore/Bengaluru(Kundalahalli +2),"Traverze Consultancy Solutions Pvt, Ltd.",0-2 Yrs
4,Market Data Analyst,Bangalore/Bengaluru,ICF,1-2 Yrs
5,Business Analyst/ Data Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",cliqhr.com,5-10 Yrs
6,Business Data Analyst,Bangalore/Bengaluru,NXP Semiconductors,2-5 Yrs
7,Data Analyst - Business & Digital,Bangalore/Bengaluru,MilliporeSigma,4-9 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Encora,5-10 Yrs
9,EY GDS Data Analyst-Finland based project,Bangalore/Bengaluru,EY,0-1 Yrs

In [22]:
driver.close()

In [23]:
time.sleep(5)

In [24]:
# Answer 1 completed.

In [25]:
# Ans2). To scrape data for “Data Scientist” Job position in “Bangalore” location.

In [26]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [27]:
driver.get(r"https://www.naukri.com/")

In [28]:
search_desig2 = driver.find_element_by_class_name('suggestor-input')

In [29]:
search_desig2.send_keys('Data Scientist')

In [30]:
search_loc2 = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")

In [31]:
search_loc2.send_keys("Bangalore")

In [32]:
search_button2=driver.find_element_by_class_name("qsbSubmit")

In [33]:
search_button2.click()

In [34]:
job_title2=[]
job_loc2=[]
comp_name2=[]

In [43]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title=title[0:10]

In [44]:
for i in title:
    job_title2.append(i.text)
job_title2

['Research and Development -AI/ML -(PhD )',
 'AI Technologist Vacancy',
 'Senior Data Science Engineer',
 'Senior Data Scientist',
 'Data Science - Engineering Manager',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Junior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Noida/Bangalore']

In [45]:
loc2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc2=loc2[0:10]

In [46]:
job_loc2=[]
for i in loc2:
    job_loc2.append(i.text)
job_loc2

['Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Bangalore/Bengaluru',
 'Noida, Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru']

In [47]:
name2 = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
name2=name2[0:10]

In [40]:
for i in name2:
    comp_name2.append(i.text)
comp_name2

['EXL',
 'Wipro',
 'Fractal Analytics',
 'Baker Hughes',
 'Paytm',
 'Accenture',
 'Accenture',
 'Applied Materials',
 'VISA',
 'EXL']

In [48]:
df2= pd.DataFrame({'Job-Title':job_title2,'Job-Location':job_loc2,'Company_Name':comp_name2})
df2

,Job-Title,Job-Location,Company_Name
0,Research and Development -AI/ML -(PhD ),"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",EXL
1,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro
2,Senior Data Science Engineer,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
3,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes
4,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
6,Junior Data Scientist,Bangalore/Bengaluru,Accenture
7,Data Scientist,Bangalore/Bengaluru,Applied Materials
8,Senior Data Scientist,Bangalore/Bengaluru,VISA
9,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL

In [49]:
time.sleep(5)

In [50]:
# Answer 2 completed.

In [51]:
# Answer 3. To scrape data for “Data Scientist” designation for first 10 job results.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [52]:
driver.get(r"https://www.naukri.com/")

In [53]:
search_desig3 = driver.find_element_by_class_name('suggestor-input')
search_desig3.send_keys("Data Scientist")

In [54]:
search_button3=driver.find_element_by_class_name("qsbSubmit")

In [55]:
search_button3.click()

In [56]:
loc3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
loc3.click()

In [57]:
sal3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/i")
sal3.click()

In [58]:
job_title3=[]
title3=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title3=title3[0:10]

In [59]:
for i in title3:
    job_title3.append(i.text)
job_title3

['Virtual Drive For Java Developer @Conduent Exp :4+yrs',
 'C2H with Top MNC For Java developer',
 'Research and Development -AI/ML -(PhD )',
 'Staff Software Development Engineer (Backend)- International & Growth',
 'Backend Developer (Java/ C#/ C++/ Go lang/ ROR)',
 'Immediate joiner: Camunda with Java | 6-8 Yrs | Multiple locations',
 'MERN Stack Developer - Node.js/React.js',
 'AI Technologist Vacancy',
 'Java - Microservices Developer',
 'Node Js Backend Developer']

In [60]:
loc3 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc3=loc3[0:10]

In [61]:
job_loc3=[]
for i in loc3:
    job_loc3.append(i.text)
job_loc3

['Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Trivandrum/Thiruvananthapuram, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas), Pan India']

In [62]:
name3=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
name3=name3[0:10]

In [63]:
comp_name3= []
for i in name3:
    comp_name3.append(i.text)
comp_name3

['Conduent',
 'Teamlease Servcies limited',
 'EXL',
 'The Walt Disney',
 'BYJUS',
 'EY',
 'Patch Infotech Private Limited',
 'Wipro',
 'Birlasoft',
 'TATA CONSULTANCY SERVICES (TCS)']

In [64]:
exp_tags3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags3=exp_tags3[0:10]

In [65]:
exp3=[]
for i in exp_tags3:
    exp3.append(i.text)
exp3

['4-6 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '8-10 Yrs',
 '5-10 Yrs',
 '6-8 Yrs',
 '1-6 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '6-11 Yrs']

In [66]:
df3= pd.DataFrame({'Job-Title':job_title3,'Job-Location':job_loc3,'Company_Name':comp_name3,'Experience_reqd':exp3})
df3

,Job-Title,Job-Location,Company_Name,Experience_reqd
0,Virtual Drive For Java Developer @Conduent Exp...,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Conduent,4-6 Yrs
1,C2H with Top MNC For Java developer,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Teamlease Servcies limited,3-8 Yrs
2,Research and Development -AI/ML -(PhD ),"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",EXL,4-8 Yrs
3,Staff Software Development Engineer (Backend)-...,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",The Walt Disney,8-10 Yrs
4,Backend Developer (Java/ C#/ C++/ Go lang/ ROR),"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",BYJUS,5-10 Yrs
5,Immediate joiner: Camunda with Java | 6-8 Yrs ...,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",EY,6-8 Yrs
6,MERN Stack Developer - Node.js/React.js,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Patch Infotech Private Limited,1-6 Yrs
7,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro,6-11 Yrs
8,Java - Microservices Developer,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,3-8 Yrs
9,Node Js Backend Developer,"Kolkata, Indore, Hyderabad/Secunderabad, Pune,...",TATA CONSULTANCY SERVICES (TCS),6-11 Yrs

In [67]:
driver.close()
time.sleep(5)

In [68]:
# Answer 3. completed

In [69]:
# Answer4). To scrape data of first 100 sunglasses listings on flipkart.com.

In [70]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [71]:
driver.get(r"https://www.flipkart.com/")

In [72]:
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [73]:
search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sunglasses")

In [74]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [75]:
brand_name=[]
prod_desc=[]
price=[]
discount=[]

In [76]:
for a in range(0,3):
    name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in name:
        brand_name.append(i.text)
    prod=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in prod:
        prod_desc.append(j.text)
    pri=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]")
    count=0
    for k in pri:
        if count<40:
            price.append(k.text)
            count+=1
    disc=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[3]")
    count1=0
    for l in disc:
        if count1<40:
            discount.append(l.text)
            count1+=1
    next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_button.click()
    time.sleep(5)
brand_name=brand_name[0:100]
prod_desc=prod_desc[0:100]
price=price[0:100]
discount=discount[0:100]

In [77]:
df4= pd.DataFrame({'Brand Name':brand_name,'Production Description':prod_desc,'Price':price,'Discount':discount})
df4

,Brand Name,Production Description,Price,Discount
0,VINCENT CHASE,UV Protection Rectangular Sunglasses (52),₹649,67% off
1,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹749,62% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
4,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹854,57% off
96,PIRASO,UV Protection Wayfarer Sunglasses (32),₹202,87% off
97,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),₹245,81% off
98,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off
99,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹749,62% off

In [78]:
time.sleep(5)

In [79]:
# Answer 4. Completed.

In [80]:
# Answer 6). Scrape data for first 100 sneakers you find  when you visit flipkart.com and search for “sneakers” in the search field.

In [81]:
driver.get("https://www.flipkart.com/")

In [82]:
search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sneakers")

In [83]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [84]:
brand_name=[]
prod_desc=[]
price=[]

In [85]:
for a in range(0,3):
    name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in name:
        brand_name.append(i.text)
    prod=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in prod:
        prod_desc.append(j.text)
    pri=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]")
    count=0
    for k in pri:
        if count<40:
            price.append(k.text)
            count+=1
    next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_button.click()
    time.sleep(5)
brand_name=brand_name[0:100]
prod_desc=prod_desc[0:100]
price=price[0:100]

In [86]:
df6= pd.DataFrame({'Sneakers Brand Name':brand_name,'Production Description':prod_desc,'Price':price})
df6

,Sneakers Brand Name,Production Description,Price
0,sixXplus,Sneakers For Men,₹521
1,Bacan,Modern Trendy Sneakers Shoes Sneakers For Men,₹474
2,BRUTON,Sneakers For Men,₹269
3,Magnolia,"Stylish Comfortable Lightweight, Breathable Ca...",₹374
4,URBANBOX,Sneakers For Men,₹198
...,...,...,...
95,HRX by Hrithik Roshan,Men's Casual Comfortable Soft Partywear Shoes ...,"₹2,339"
96,BRUTON,Kwik FIT casual sneaker shoes and partywear sh...,₹499
97,BIRDE,shoe Sneakers For Men,₹299
98,Airland,Sports Running Shoes Sneakers For Men,₹210
99,BRUTON,Men Combo Pack of 2 Sports Shoes & Casual Snea...,₹399

In [87]:
time.sleep(5)

In [88]:
# Answer 6.Completed.

In [89]:
# Answer 7). Scrape First 100 shoes data.

In [97]:
driver.get("https://www.myntra.com/shoes")

In [98]:
price_option=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[1]/label/div")
price_option.click()

In [99]:
color_option=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_option.click()

In [100]:
brand_name7=[]
prod_desc7=[]
price7=[]

In [101]:
for a in range(2):
    brand7=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand7:
        brand_name7.append(i.text)
    desc7 = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for j in desc7:
        prod_desc7.append(j.text)
    pri7=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for k in pri7:
        price7.append(k.text[0:8])
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click()
    time.sleep(5)
print(len(brand_name7),len(prod_desc7),len(price7))

100 100 100

In [102]:
#as somewhere strike out price is included in price, so span[1] is used here..also,k.text includes price and strike out price included in it. so, its data is sliced and first 7 digits which show exact price are used here.

In [103]:
df7=pd.DataFrame({'Shoes Brand Name':brand_name7,'Product Description':prod_desc7,'Price':price7})
df7

    Shoes Brand Name            Product Description     Price
0           Red Tape              Men Walking Shoes  Rs. 1349
1             ADIDAS        Men Herlz Running Shoes  Rs. 1799
2           Red Tape              Men Running Shoes  Rs. 1374
3         Eego Italy             Men Trekking Shoes  Rs. 987R
4    PUMA Motorsport          Unisex Solid Sneakers  Rs. 4124
..               ...                            ...       ...
95              Nike     Women React Escape Running  Rs. 8621
96            ADIDAS    Women Vertago Running Shoes  Rs. 2999
97  House of Pataudi    Men Formal Horsebit Loafers  Rs. 3009
98        ELIXIR MAN                   Men Sneakers  Rs. 579R
99          Skechers  Men GO RUN FAST Running Shoes  Rs. 3749

[100 rows x 3 columns]

In [104]:
driver.close()
time.sleep(5)

In [105]:
# Answer 7).Completed.

In [106]:
# Answer 9).To scrape data for first 10 job results for Data Scientist Designation in Noida 
#location.

In [107]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [108]:
driver.get(" https://www.ambitionbox.com/")

In [109]:
jobs_option=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
jobs_option.click()

In [110]:
enter_option=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
enter_option.send_keys("Data Scientist")

In [111]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [112]:
loc_filter=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
loc_filter.click ()

In [113]:
loc_input=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
loc_input.send_keys("Noida")

In [114]:
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()

In [115]:
comp_name9=[]
days9=[]
rating9=[]

In [116]:
name=driver.find_elements_by_xpath("//div[@class='company-info']/p")
for i in name:
    comp_name9.append(i.text)
days_tags=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for j in days_tags:
    days9.append(j.text)
rating_tags=driver.find_elements_by_xpath("//div[@class='rating-wrapper']/a[1]")
for k in rating_tags:
    rating9.append(k.text)
comp_name9=comp_name9[1:11]

In [117]:
rating9=rating9[1:11]

In [118]:
df9=pd.DataFrame({'Company Name':comp_name9,'No. of Days ago job posted':days9,'Rating of Company':rating9})
df9

,Company Name,No. of Days ago job posted,Rating of Company
0,GENPACT India Private Limited,15d ago,4.0
1,Optum Global Solutions (India) Private Limited,23d ago,4.1
2,GENPACT India Private Limited,22d ago,4.0
3,Hcl Technologies Limited,25d ago,3.9
4,Paytm,18d ago,3.7
5,Om Software Internet Solutions Private Limited,26d ago,4.5
6,Paytm,1mon ago,3.7
7,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,23d ago,3.3
8,Careerera,5d ago,4.6
9,Ashkom Media India Private Limited,22d ago,3.5

In [119]:
time.sleep(5)

In [120]:
# Answer 9). Completed.

In [121]:
# Answer 10). To scrape the salary data for Data Scientist designation.

In [122]:
driver.get(" https://www.ambitionbox.com/")

In [123]:
driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]").click()

In [124]:
search_option=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_option.send_keys("Data Scientist")
search_option.click()

In [125]:
comp_name10=[]
tot_sal10=[]
avg_sal10=[]
min_sal10=[]
max_sal10=[]
exp10=[]

In [126]:
name10=driver.find_elements_by_xpath("//div[@class='company-info-wrapper']/div")
for i in name10:
    comp_name10.append(i.text.split('\n')[0])
    tot_sal10.append(i.text.split('\n')[1])
min10=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for k in min10:
    min_sal10.append(k.text)
max10=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for l in max10:
    max_sal10.append(l.text)
avg10=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for m in avg10:
    avg_sal10.append(m.text)
exp_tags10=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for n in exp_tags10:
    exp10.append(n.text.split('\n')[2])

In [127]:
df10=pd.DataFrame({'Company Name':comp_name10,'Total salaries record':tot_sal10,'Minimum Salary Offered':min_sal10,'Maximum Salary Offered':max_sal10,'Average Salary Offered':avg_sal10,'Experience Required':exp10})
df10

,Company Name,Total salaries record,Minimum Salary Offered,Maximum Salary Offered,Average Salary Offered,Experience Required
0,Google,based on 35 salaries,₹ 11.0L,₹ 65.0L,₹ 31.3L,1-3 yrs exp
1,Microsoft Corporation,based on 274 salaries,₹ 13.0L,₹ 50.0L,₹ 24.0L,1-4 yrs exp
2,Goldman Sachs,based on 18 salaries,₹ 12.0L,₹ 34.0L,₹ 23.0L,2 yrs exp
3,Tekion,based on 35 salaries,₹ 12.0L,₹ 33.0L,₹ 21.2L,2-4 yrs exp
4,Amazon,based on 122 salaries,₹ 8.0L,₹ 45.0L,₹ 21.0L,1-4 yrs exp
5,Servicenow Software Development India,based on 60 salaries,₹ 13.0L,₹ 28.0L,₹ 20.5L,2-4 yrs exp
6,Flipkart,based on 64 salaries,₹ 7.5L,₹ 31.0L,₹ 20.4L,1-4 yrs exp
7,Walmart,based on 87 salaries,₹ 11.4L,₹ 32.5L,₹ 20.0L,1-4 yrs exp
8,PayPal,based on 29 salaries,₹ 11.0L,₹ 31.0L,₹ 19.9L,1-2 yrs exp
9,Myntra,based on 10 salaries,₹ 14.0L,₹ 27.0L,₹ 19.5L,1 yr exp

In [128]:
time.sleep(5)
driver.close()

In [129]:
# Answer 10. Completed.

In [130]:
# Answer 5).Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [131]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [132]:
driver.get("https://www.flipkart.com/")

In [133]:
search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("iphone 11")

In [134]:
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [135]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [136]:
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
try:
    driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]/span[2]/span/span[1]").click()
except NoSuchElementException as e:
    time.sleep(10)
    driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]/span[2]/span/span[1]").click()

In [137]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=d07f8d8d-c1c8-4961-9f4f-dc35ce1d5239.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=seg6jc74yo0000001656133639920&qH=f6cdfdaa9f3c23f3')

In [138]:
rev=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span')
rev.click()

In [139]:
rating5=[]
review5=[]
review_all5=[]

In [140]:
for a in range(10):
    rating_tags5=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tags5:
        rating5.append(i.text)
    review_tags5=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for j in review_tags5:
        review5.append(j.text)
    review_all_tags5=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]")
    for k in review_all_tags5:
        review_all5.append(k.text)
    delay=15
    WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1LKTO3')))
    nex_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    nex_button.click()
    time.sleep(10)

In [141]:
df5 = pd.DataFrame({'rating':rating5,'review':review5,'full review':review_all5})
df5

,rating,review,full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Best in the market!,Great iPhone very snappy experience as apple k...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,5,Wonderful,This is my first ever I phone. Before this I w...
98,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
99,5,Terrific,Really worth of money. i just love it. It is t...

In [142]:
# Answer 5).Completed.

In [143]:
# Answer 8). To scrape first 10 laptops data.

In [144]:
driver.get("https://www.amazon.in/")

In [145]:
search=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys("Laptop")

In [146]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [150]:
cpu_filter=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[13]/span/a/div/label/i")
cpu_filter.click()

In [155]:
title8=[]
rating8=[]
price8=[]

In [156]:
title_tag8=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tag8:
    title8.append(i.text)
l=[]
rating_tag8=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
for j in rating_tag8:
    if j.text == '':
        rating8.append('-')
    else:
        rating8.append(j.text)
price_tag8=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for k in price_tag8:
    price8.append(k.text)
title8=title8[0:10]
rating8=rating8[0:10]
price8=price8[0:10]

In [157]:
print(len(title8),len(rating8),len(price8))

10 10 10

In [158]:
df8=pd.DataFrame({'Title of Laptoop':title8,'Rating':rating8,'Price':price8})
df8

                                    Title of Laptoop Rating     Price
0  Lenovo Yoga 9 11th Gen Intel Core i7 14" 4K Ul...      -  1,69,091
1  HP Pavilion 11th Gen Intel Core i7 Processor 1...      -    96,900
2  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...      -    84,990
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....      -    86,990
4  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...      -    84,999
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...      -    79,990
6  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...      -  1,16,990
7  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...      -    75,104
8  HP Victus 11th Gen Intel Core i7-11800H 16.1-i...      -  1,20,062
9  OMEN by HP-12th Gen Intel Core i7 16.1-inch(40...      -  1,13,990

In [159]:
# Answer 8).Completed.

In [160]:
# Assignment Completed.