In [1]:
import selenium
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
from selenium import webdriver 
import time

In [3]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [4]:
time.sleep(2)

In [5]:
# Ans 1). To scrape data for “Data Analyst” Job position in “Bangalore” location.

In [6]:
driver.get("https://www.naukri.com/")

In [7]:
search_desig = driver.find_element_by_class_name('suggestor-input')

In [8]:
search_desig.send_keys('Data Analyst')

In [9]:
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")

In [10]:
search_loc.send_keys("Bangalore")

In [11]:
search_button=driver.find_element_by_class_name("qsbSubmit")

In [12]:
search_button.click()

In [13]:
job_title=[]
job_loc=[]
comp_name=[]
exp=[]
title = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
title=title[0:10]

In [14]:
job_title=[]
for i in title:
    job_title.append(i.text)
job_title

['Business Data Analyst',
 'EY GDS Data Analyst-Finland based project',
 'Data Analyst - Data and Analytics',
 'Data Analyst - Data and Analytics',
 'Data Analyst (CSD)',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Data Analyst / Business Analyst',
 'Data Analyst',
 'SAS/SQL - Healthcare Data Analyst - Bangalore',
 'Business & Data Analyst - Alteryx (London)']

In [15]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc=loc[0:10]
loc

[<selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="88e42f11-fada-4310-8612-a24e7c8e4f93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="8de5799a-71ef-4a98-89fe-ad796a6f28f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="c13be976-4d91-4324-b606-17e18a297cd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="0aa836e4-70dd-457d-a213-06514bb9ea3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="f95c796f-fb79-4203-b4f3-272c14b66f21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="2b7fa2c4-77a4-410b-be0f-fbe7deda4b80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="5a6cb10d-e958-4a60-9444-b3d2b0dcdb0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="9b5c009a-987b-4696-8604-b77d0fdde17e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="6dcf3c08-4821-4cdf-b981-6b4c2a9222c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="92e5ba2c-320b-48fa-abc8-5b3b7ac2f52c")>]

In [16]:
job_loc=[]
for i in loc:
    job_loc.append(i.text)
job_loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [17]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags=exp_tags[0:10]
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="c1fe96ce-6bcd-4299-a4fc-6a4e1d3cfe38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="47fcad79-4f36-420b-8b7f-cb382a58abe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="6a36708c-d89a-4f0f-a368-3e48daa22203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="8639d057-d7f1-4a7d-99c6-1bc0b2403b3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="ceb1657d-d394-4c92-94ed-0b7fd620334d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="c585a00a-6959-414c-a26e-c533aa9cbf8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="017883d2-a1dc-433a-b4d6-063e489abfcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="a77c0135-8e2a-47d9-91bb-09a5ab8c8bd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="4264e388-9d32-4f6e-80dd-6d946a4348c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="2fdc52cb-585e-483c-a491-a5167b896892")>]

In [18]:
for i in exp_tags:
    exp.append(i.text)
exp

['2-5 Yrs',
 '0-1 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '7-10 Yrs',
 '5-10 Yrs']

In [19]:
name=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
name = name[0:10]
name

[<selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="da344e7a-f283-4ac0-8e08-fdbad2ff9ac1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="f13ae395-70e9-41b3-a85c-8efb219c46eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="f21233c1-faef-4f50-b1f3-32d95526e532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="5f001742-c1b1-41d8-98bb-1aed8aa8ab8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="09c98dae-58fb-4b9a-8af0-af40cdc6c688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="9e760431-6558-4dc4-bc3f-1fa97f7419b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="3bb58ad6-ce8a-473f-aa03-9068fa62fbdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="bcd4f5f8-91b7-40ee-b509-1b38d4a04a01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="02d32d65-29a9-4b91-97db-1e1a6ce311e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac6178cede89e3274e21a3f0a4941e1b", element="542d764c-851e-480a-a57e-5cf7f9410e27")>]

In [20]:
comp_name=[]
for i in name:
    comp_name.append(i.text)
comp_name

['NXP Semiconductors',
 'EY',
 'Intel',
 'Intel',
 'Siemens',
 'Rise Finconnect Private Limited',
 'METRO Cash & Carry',
 'Cigna TTK',
 'Genpact',
 'Imaginative Brains LLP']

In [21]:
df1= pd.DataFrame({'Job-Title':job_title,'Job-Location':job_loc,'Company_Name':comp_name,'Experience_reqd':exp})
df1

,Job-Title,Job-Location,Company_Name,Experience_reqd
0,Business Data Analyst,Bangalore/Bengaluru,NXP Semiconductors,2-5 Yrs
1,EY GDS Data Analyst-Finland based project,Bangalore/Bengaluru,EY,0-1 Yrs
2,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
3,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
4,Data Analyst (CSD),Bangalore/Bengaluru,Siemens,2-6 Yrs
5,"Data Analyst - Data Science, 3 To 5 Years",Bangalore/Bengaluru,Rise Finconnect Private Limited,2-6 Yrs
6,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,Cigna TTK,2-4 Yrs
8,SAS/SQL - Healthcare Data Analyst - Bangalore,Bangalore/Bengaluru,Genpact,7-10 Yrs
9,Business & Data Analyst - Alteryx (London),"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Imaginative Brains LLP,5-10 Yrs

In [22]:
driver.close()

In [23]:
time.sleep(5)

In [24]:
# Answer 1 completed.

In [25]:
# Ans2). To scrape data for “Data Scientist” Job position in “Bangalore” location.

In [26]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [27]:
driver.get(r"https://www.naukri.com/")

In [28]:
search_desig2 = driver.find_element_by_class_name('suggestor-input')

In [29]:
search_desig2.send_keys('Data Scientist')

In [30]:
search_loc2 = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")

In [31]:
search_loc2.send_keys("Bangalore")

In [32]:
search_button2=driver.find_element_by_class_name("qsbSubmit")

In [33]:
search_button2.click()

In [34]:
job_title2=[]
job_loc2=[]
comp_name2=[]

In [35]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title=title[0:10]

In [36]:
for i in title:
    job_title2.append(i.text)
job_title2

['Senior Data Scientist',
 'Data Science - Engineering Manager',
 'AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'DATA Scientist with Fraud Analytics Experience',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Principal - Data Scientist']

In [37]:
loc2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc2=loc2[0:10]

In [38]:
job_loc2=[]
for i in loc2:
    job_loc2.append(i.text)
job_loc2

['Mumbai, Bangalore/Bengaluru',
 'Noida, Mumbai, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [39]:
name2 = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
name2=name2[0:10]

In [40]:
for i in name2:
    comp_name2.append(i.text)
comp_name2

['Baker Hughes',
 'Paytm',
 'Wipro',
 'Wipro',
 'Concentrix Daksh Services',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Schneider Electric']

In [41]:
df2= pd.DataFrame({'Job-Title':job_title2,'Job-Location':job_loc2,'Company_Name':comp_name2})
df2

,Job-Title,Job-Location,Company_Name
0,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes
1,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm
2,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro
3,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro
4,DATA Scientist with Fraud Analytics Experience,Bangalore/Bengaluru,Concentrix Daksh Services
5,Data Scientist,Bangalore/Bengaluru,Applied Materials
6,Data Scientist,Bangalore/Bengaluru,Applied Materials
7,Data Scientist,Bangalore/Bengaluru,Applied Materials
8,Data Scientist,Bangalore/Bengaluru,Applied Materials
9,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric

In [42]:
time.sleep(5)

In [43]:
# Answer 2 completed.

In [44]:
# Answer 3. To scrape data for “Data Scientist” designation for first 10 job results.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [45]:
driver.get(r"https://www.naukri.com/")

In [46]:
search_desig3 = driver.find_element_by_class_name('suggestor-input')
search_desig3.send_keys("Data Scientist")

In [47]:
search_button3=driver.find_element_by_class_name("qsbSubmit")

In [48]:
search_button3.click()

In [51]:
loc3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
loc3.click()

In [52]:
sal3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/i")
sal3.click()

In [66]:
job_title3=[]
title3=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title3=title3[0:10]

In [67]:
for i in title3:
    job_title3.append(i.text)
job_title3

['Immediate joiner: Camunda with Java | 6-8 Yrs | Multiple locations',
 'Java - Microservices Developer',
 'C2H with Top MNC For Java developer',
 'Hiring For Node JS Developer',
 'Virtual Drive For Java Developer @Conduent Exp :4+yrs',
 'Node Js Backend Developer',
 'Java Microservice Developer',
 'Cognizant | Inviting Applications For SAP ABAP Consultant',
 'Immediate opening For Java Microservices - Pan India',
 'Data Science - Engineering Manager']

In [64]:
loc3 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
loc3=loc3[0:10]

In [68]:
job_loc3=[]
for i in loc3:
    job_loc3.append(i.text)
job_loc3

['Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Trivandrum/Thiruvananthapuram, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas), Pan India',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kochi/Cochin, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Mumbai, Bangalore/Bengaluru']

In [69]:
name3=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
name3=name3[0:10]

In [70]:
comp_name3= []
for i in name3:
    comp_name3.append(i.text)
comp_name3

['EY',
 'Birlasoft',
 'Teamlease Servcies limited',
 'PwC',
 'Conduent',
 'TATA CONSULTANCY SERVICES (TCS)',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Cognizant',
 'HCL Technologies',
 'Paytm']

In [71]:
exp_tags3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags3=exp_tags3[0:10]

In [72]:
exp3=[]
for i in exp_tags3:
    exp3.append(i.text)
exp3

['6-8 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '5-9 Yrs',
 '4-6 Yrs',
 '6-11 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '5-9 Yrs',
 '9-13 Yrs']

In [73]:
df3= pd.DataFrame({'Job-Title':job_title3,'Job-Location':job_loc3,'Company_Name':comp_name3,'Experience_reqd':exp3})
df3

,Job-Title,Job-Location,Company_Name,Experience_reqd
0,Immediate joiner: Camunda with Java | 6-8 Yrs ...,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",EY,6-8 Yrs
1,Java - Microservices Developer,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,3-8 Yrs
2,C2H with Top MNC For Java developer,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Teamlease Servcies limited,3-8 Yrs
3,Hiring For Node JS Developer,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",PwC,5-9 Yrs
4,Virtual Drive For Java Developer @Conduent Exp...,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Conduent,4-6 Yrs
5,Node Js Backend Developer,"Kolkata, Indore, Hyderabad/Secunderabad, Pune,...",TATA CONSULTANCY SERVICES (TCS),6-11 Yrs
6,Java Microservice Developer,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",TATA CONSULTANCY SERVICES (TCS),4-9 Yrs
7,Cognizant | Inviting Applications For SAP ABAP...,"Kochi/Cochin, Kolkata, Mumbai, Hyderabad/Secun...",Cognizant,6-9 Yrs
8,Immediate opening For Java Microservices - Pan...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",HCL Technologies,5-9 Yrs
9,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm,9-13 Yrs

In [74]:
driver.close()
time.sleep(5)

In [75]:
# Answer 3. completed

In [76]:
# Answer4). To scrape data of first 100 sunglasses listings on flipkart.com.

In [94]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [95]:
driver.get(r"https://www.flipkart.com/")

In [96]:
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [97]:
search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sunglasses")

In [98]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [99]:
brand_name=[]
prod_desc=[]
price=[]
discount=[]

In [100]:
for a in range(0,3):
    name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in name:
        brand_name.append(i.text)
    prod=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in prod:
        prod_desc.append(j.text)
    pri=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]")
    count=0
    for k in pri:
        if count<40:
            price.append(k.text)
            count+=1
    disc=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[3]")
    count1=0
    for l in disc:
        if count1<40:
            discount.append(l.text)
            count1+=1
    next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_button.click()
    time.sleep(5)
brand_name=brand_name[0:100]
prod_desc=prod_desc[0:100]
price=price[0:100]
discount=discount[0:100]

In [101]:
df4= pd.DataFrame({'Brand Name':brand_name,'Production Description':prod_desc,'Price':price,'Discount':discount})
df4

,Brand Name,Production Description,Price,Discount
0,Arnette,Others Rectangular Sunglasses (56),"₹7,549",10% off
1,Arnette,Others Oval Sunglasses (53),"₹2,879",54% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹224,85% off
3,SRPM,UV Protection Wayfarer Sunglasses (50),₹211,83% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
...,...,...,...,...
95,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
96,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499,75% off
97,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹319,78% off
98,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
99,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹189,81% off

In [102]:
time.sleep(5)

In [103]:
# Answer 4. Completed.

In [104]:
# Answer 6). Scrape data for first 100 sneakers you find  when you visit flipkart.com and search for “sneakers” in the search field.

In [105]:
driver.get("https://www.flipkart.com/")

In [107]:
search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sneakers")

In [108]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [109]:
brand_name=[]
prod_desc=[]
price=[]

In [110]:
for a in range(0,3):
    name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in name:
        brand_name.append(i.text)
    prod=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in prod:
        prod_desc.append(j.text)
    pri=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]")
    count=0
    for k in pri:
        if count<40:
            price.append(k.text)
            count+=1
    next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_button.click()
    time.sleep(5)
brand_name=brand_name[0:100]
prod_desc=prod_desc[0:100]
price=price[0:100]

In [111]:
df6= pd.DataFrame({'Sneakers Brand Name':brand_name,'Production Description':prod_desc,'Price':price})
df6

,Sneakers Brand Name,Production Description,Price
0,Xylus,Training & Gym & Walking shoes Sneakers For Men,₹399
1,Arivo,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹599
2,BRUTON,Sneakers For Men,₹188
3,Magnolia,"Stylish Comfortable Lightweight, Breathable Wa...",₹374
4,BIRDE,Modern Trendy Sneakers Shoes Sneakers For Men,₹314
...,...,...,...
95,Kirjak,"Stylish Comfortable Lightweight, Breathable Ca...",₹569
96,aadi,Sneakers Sneakers For Men,₹319
97,Robbie jones,494 Perfect Sports Shoes for Running Training ...,₹499
98,Dicy,PANAL Sneakers For Men,₹299
99,Echor,casual for men Sneakers For Men,₹598

In [112]:
time.sleep(5)

In [113]:
# Answer 6.Completed.

In [114]:
# Answer 7). Scrape First 100 shoes data.

In [115]:
driver.get("https://www.myntra.com/shoes")

In [116]:
price_option=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_option.click()

In [117]:
color_option=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_option.click()

In [118]:
brand_name7=[]
prod_desc7=[]
price7=[]

In [119]:
for a in range(2):
    brand7=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand7:
        brand_name7.append(i.text)
    desc7 = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for j in desc7:
        prod_desc7.append(j.text)
    pri7=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for k in pri7:
        price7.append(k.text[0:8])
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click()
    time.sleep(5)
print(len(brand_name7),len(prod_desc7),len(price7))

100 100 100

In [120]:
#as somewhere strike out price is included in price, so span[1] is used here..also,k.text includes price and strike out price included in it. so, its data is sliced and first 7 digits which show exact price are used here.

In [121]:
df7=pd.DataFrame({'Shoes Brand Name':brand_name7,'Product Description':prod_desc7,'Price':price7})
df7

   Shoes Brand Name               Product Description     Price
0          Skechers          Men ENIGMA Running Shoes  Rs. 7124
1          Skechers        Men Max Cushioning Running  Rs. 8999
2              Puma                 Men Running Shoes  Rs. 9999
3              Nike    Men Zoom C Pro HC Tennis Shoes  Rs. 7116
4              Nike    Women Pegasus 39 Running Shoes  Rs. 8920
..              ...                               ...       ...
95             Geox              Women Open Toe Flats  Rs. 6742
96         DAVINCHI        Solid Leather Formal Boots  Rs. 6990
97             Geox            Women Ballerinas Flats  Rs. 9891
98         DAVINCHI  Men Solid Leather Formal Slip-On  Rs. 6990
99             Geox    Women Solid Leather Ballerinas  Rs. 6749

[100 rows x 3 columns]

In [122]:
driver.close()
time.sleep(5)

In [123]:
# Answer 7).Completed.

In [124]:
# Answer 9).To scrape data for first 10 job results for Data Scientist Designation in Noida 
#location.

In [125]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [126]:
driver.get(" https://www.ambitionbox.com/")

In [127]:
jobs_option=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
jobs_option.click()

In [128]:
enter_option=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
enter_option.send_keys("Data Scientist")

In [129]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [131]:
loc_filter=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
loc_filter.click ()

In [132]:
loc_input=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
loc_input.send_keys("Noida")

In [133]:
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()

In [134]:
comp_name9=[]
days9=[]
rating9=[]

In [135]:
name=driver.find_elements_by_xpath("//div[@class='company-info']/p")
for i in name:
    comp_name9.append(i.text)
days_tags=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for j in days_tags:
    days9.append(j.text)
rating_tags=driver.find_elements_by_xpath("//div[@class='rating-wrapper']/a[1]")
for k in rating_tags:
    rating9.append(k.text)
comp_name9=comp_name9[1:11]

In [136]:
rating9=rating9[1:11]

In [137]:
df9=pd.DataFrame({'Company Name':comp_name9,'No. of Days ago job posted':days9,'Rating of Company':rating9})
df9

,Company Name,No. of Days ago job posted,Rating of Company
0,GENPACT India Private Limited,8d ago,4.0
1,Optum Global Solutions (India) Private Limited,16d ago,4.2
2,GENPACT India Private Limited,15d ago,4.0
3,Hcl Technologies Limited,18d ago,3.9
4,EXL Services.com ( I ) Pvt. Ltd.,29d ago,3.9
5,Paytm,11d ago,3.7
6,Om Software Internet Solutions Private Limited,19d ago,4.5
7,Paytm,29d ago,3.7
8,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,16d ago,3.3
9,Ashkom Media India Private Limited,15d ago,3.5

In [138]:
time.sleep(5)

In [139]:
# Answer 9). Completed.

In [140]:
# Answer 10). To scrape the salary data for Data Scientist designation.

In [141]:
driver.get(" https://www.ambitionbox.com/")

In [142]:
driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]").click()

In [143]:
search_option=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_option.send_keys("Data Scientist")
search_option.click()

In [144]:
comp_name10=[]
tot_sal10=[]
avg_sal10=[]
min_sal10=[]
max_sal10=[]
exp10=[]

In [145]:
name10=driver.find_elements_by_xpath("//div[@class='company-info-wrapper']/div")
for i in name10:
    comp_name10.append(i.text.split('\n')[0])
    tot_sal10.append(i.text.split('\n')[1])
min10=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for k in min10:
    min_sal10.append(k.text)
max10=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for l in max10:
    max_sal10.append(l.text)
avg10=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for m in avg10:
    avg_sal10.append(m.text)
exp_tags10=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for n in exp_tags10:
    exp10.append(n.text.split('\n')[2])

In [146]:
df10=pd.DataFrame({'Company Name':comp_name10,'Total salaries record':tot_sal10,'Minimum Salary Offered':min_sal10,'Maximum Salary Offered':max_sal10,'Average Salary Offered':avg_sal10,'Experience Required':exp10})
df10

,Company Name,Total salaries record,Minimum Salary Offered,Maximum Salary Offered,Average Salary Offered,Experience Required
0,Google,based on 33 salaries,₹ 11.0L,₹ 65.0L,₹ 31.8L,1-3 yrs exp
1,Microsoft Corporation,based on 271 salaries,₹ 13.0L,₹ 45.0L,₹ 23.9L,1-4 yrs exp
2,Goldman Sachs,based on 18 salaries,₹ 12.0L,₹ 34.0L,₹ 23.0L,2 yrs exp
3,Tekion,based on 33 salaries,₹ 12.0L,₹ 33.0L,₹ 21.1L,2-4 yrs exp
4,Amazon,based on 119 salaries,₹ 8.0L,₹ 45.0L,₹ 20.9L,1-4 yrs exp
5,Flipkart,based on 63 salaries,₹ 7.5L,₹ 31.0L,₹ 20.6L,1-4 yrs exp
6,Servicenow Software Development India,based on 56 salaries,₹ 13.0L,₹ 28.0L,₹ 20.4L,2-4 yrs exp
7,PayPal,based on 28 salaries,₹ 12.0L,₹ 31.0L,₹ 20.1L,1-2 yrs exp
8,Walmart,based on 85 salaries,₹ 11.4L,₹ 32.5L,₹ 19.9L,1-4 yrs exp
9,Arcesium,based on 56 salaries,₹ 12.0L,₹ 34.0L,₹ 19.3L,1-2 yrs exp

In [151]:
time.sleep(5)
driver.close()

In [152]:
# Answer 10. Completed.

In [153]:
# Answer 5).Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [154]:
driver=webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [157]:
driver.get("https://www.flipkart.com/")

In [158]:
search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("iphone 11")

In [160]:
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [161]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [163]:
driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]/span[2]/span/span[1]").click()

In [169]:
opt2=driver.find_element_by_xpath("//a[@href='https://www.flipkart.com/apple-iphone-11-white-128-gb/product-reviews/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&amp;lid=LSTMOBFWQ6B7KKRXDDSMBIFYZ&amp;marketplace=FLIPKART']")
opt2.get_attribute('href')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@href='https://www.flipkart.com/apple-iphone-11-white-128-gb/product-reviews/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&amp;lid=LSTMOBFWQ6B7KKRXDDSMBIFYZ&amp;marketplace=FLIPKART']"}
  (Session info: chrome=102.0.5005.115)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D7D953+2414931]
	Ordinal0 [0x00D0F5E1+1963489]
	Ordinal0 [0x00BFC6B8+837304]
	Ordinal0 [0x00C29500+1021184]
	Ordinal0 [0x00C2979B+1021851]
	Ordinal0 [0x00C56502+1205506]
	Ordinal0 [0x00C444E4+1131748]
	Ordinal0 [0x00C54812+1198098]
	Ordinal0 [0x00C442B6+1131190]
	Ordinal0 [0x00C1E860+976992]
	Ordinal0 [0x00C1F756+980822]
	GetHandleVerifier [0x00FECC62+2510274]
	GetHandleVerifier [0x00FDF760+2455744]
	GetHandleVerifier [0x00E0EABA+551962]
	GetHandleVerifier [0x00E0D916+547446]
	Ordinal0 [0x00D15F3B+1990459]
	Ordinal0 [0x00D1A898+2009240]
	Ordinal0 [0x00D1A985+2009477]
	Ordinal0 [0x00D23AD1+2046673]
	BaseThreadInitThunk [0x748A8484+36]
	RtlValidSecurityDescriptor [0x77B8305A+282]
	RtlValidSecurityDescriptor [0x77B8302A+234]

In [170]:
# this is the problem i encountered in this question.

In [167]:
(driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span")).click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span"}
  (Session info: chrome=102.0.5005.115)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D7D953+2414931]
	Ordinal0 [0x00D0F5E1+1963489]
	Ordinal0 [0x00BFC6B8+837304]
	Ordinal0 [0x00C29500+1021184]
	Ordinal0 [0x00C2979B+1021851]
	Ordinal0 [0x00C56502+1205506]
	Ordinal0 [0x00C444E4+1131748]
	Ordinal0 [0x00C54812+1198098]
	Ordinal0 [0x00C442B6+1131190]
	Ordinal0 [0x00C1E860+976992]
	Ordinal0 [0x00C1F756+980822]
	GetHandleVerifier [0x00FECC62+2510274]
	GetHandleVerifier [0x00FDF760+2455744]
	GetHandleVerifier [0x00E0EABA+551962]
	GetHandleVerifier [0x00E0D916+547446]
	Ordinal0 [0x00D15F3B+1990459]
	Ordinal0 [0x00D1A898+2009240]
	Ordinal0 [0x00D1A985+2009477]
	Ordinal0 [0x00D23AD1+2046673]
	BaseThreadInitThunk [0x748A8484+36]
	RtlValidSecurityDescriptor [0x77B8305A+282]
	RtlValidSecurityDescriptor [0x77B8302A+234]

In [171]:
# this also didn't work.

In [172]:
rating5=[]
review5=[]
review_all5=[]

In [173]:
rating_tags5=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags5:
    rating5.append(i.text)
review_tags5=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for j in review_tags5:
    review5.append(j.text)
review_all_tags5=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[2]")
for k in review_all_tags5:
    review_all5.append(k.text)
    #more_button=driver.find_element_by_xpath("//span[@class='MCE--B']")
    #more_button.click()
    #time.sleep(3)

In [175]:
df5 = pd.DataFrame({'rating':rating5,'review':review5,'full review':review_all5})
df5

Empty DataFrame
Columns: [rating, review, full review]
Index: []

In [176]:
# Answer 5). not completed. unable to click on all reviews button as for its element, everytime i m getting same error. i also raised a ticket regarding this doubt and then i tried the solution suggested to me but that also didn't work.

In [177]:
# Answer 8). To scrape first 10 laptops data.

In [178]:
driver.get("https://www.amazon.in/")

In [179]:
search=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys("Laptop")

In [180]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [181]:
cpu_filter=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div/label/i")
cpu_filter.click()

In [203]:
title8=[]
rating8=[]
price8=[]

In [204]:
title_tag8=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tag8:
    title8.append(i.text)
rating_tag8=driver.find_elements_by_xpath("//i[@class='a-icon a-icon-star-small a-star-small-4 aok-align-bottom']/span")
for j in rating_tag8:
    rating8.append(j.text)
price_tag8=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for k in price_tag8:
    price8.append(k.text)
title8=title8[0:10]
rating8=rating8[0:10]
price8=price8[0:10]

In [205]:
rating8

['', '', '', '', '', '', '', '', '']

In [206]:
title8

['Dell New Vostro 3400 Laptop, Intel i5-1135G7, Win11 + Office\'21, 8GB GDDR4, 512GB SSD, 14" (35.56Cms) FHD AG, Accent Black (D552256WIN9B, 1.59Kgs)',
 'HP 15s 11th Gen Intel Core i5 15.6 inch(39.6 cm) FHD Anti-Glare Display Laptop (8GB RAM/512GB SSD Micro-Edge/Iris Xe Graphics/Backlit Keyboard/Win 11/Alexa/Dual Speakers/MSO, 15s- fq4021TU, 1.69Kg)',
 'Lenovo ThinkBook 14 Intel Core i5 11th Gen 14" (35.56cm) FHD IPS Thin & Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/MS Office 2021/FPR/Intel Iris Xe Graphics Mineral Grey/1.4 kg), 20VDA0TLIH',
 'Lenovo IdeaPad Slim 3 10th Gen Intel Core i5 15.6" (39.62cm) FHD Laptop (8GB/512GB SSD/Win 11/Office 2021/2 Year Warranty/3 Month Game Pass/Platinum Grey/1.85Kg), 81WE01MYIN',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i5-10300H 10th Gen, GTX 1650 4GB Graphics, Gaming Laptop (8GB RAM/512GB NVMe SSD/Windows 11/Black/2.30 Kg), FX506LH-HN258W',
 'Honor MagicBook X 14, Intel Core i5-10210U 14 inch (35.56 cm) FHD IPS Anti-Glare Thin and Light Laptop (8GB/512GB PCIe SSD/Windows 10/1.38Kg), Gray, (NobleBR-WAH9E)',
 'Lenovo IdeaPad Slim 3 10th Gen Intel Core i5 15.6" FHD IPS Thin & Light Laptop(8GB/512GB SSD/2GB MX330 Gfx/2Yr Warranty/Win11/Office 2021/300Nits/3months Xbox Game Pass/Platinum Grey/1.7Kg),81WB01BPIN',
 '(Renewed) Lenovo ThinkPad T420 Intel 2nd Gen Core i5 14 inches Business Laptop (4 GB, 500 GB, 1366x768, LED, Windows 7, Integrated Graphics, Black, 2 Kg)',
 '(Renewed) Dell Intel 5th Gen Core i5 5300U 14-Inch (35.56 cms) Laptop (8 GB/256 GB SSD/Windows 10/Intel HD Graphics/Black/), Latitude E5450',
 'Redmi Book Pro Intel Core i5 11th Gen H Series 15.6-inch(39.62 cms) Thin and Light Laptop (8GB/512 GB SSD/Windows 10 Home) (Charcoal Gray, 1.8 kg, with MS Office)']

In [207]:
price8

['51,499',
 '52,990',
 '59,990',
 '45,990',
 '54,990',
 '42,990',
 '49,390',
 '18,490',
 '33,999',
 '42,990']

In [185]:
df8=pd.DataFrame({'Title of Laptoop':title8,'Rating':rating8,'Price':price8})
df8

ValueError: All arrays must be of the same length

In [208]:
# Answer 8). Not Completed.rating problem is not solved besides a lot of tries. i also followed what i was suggested in return of my ticket doubt but nothing worked.

In [210]:
#so, except two questions Ques.5 and Ques 8., all other questions solved.

In [211]:
# hence, 8 answers are fully comleted and two are in doubt in this assignment.